services:
  fastapi-agent:
    build: 
      context: . # Dockerfile.dev가 있는 위치
      dockerfile: Dockerfile.dev # 사용할 Dockerfile 명시
    image: tinywhale1031/fastapi-agent:2
    # env_file:
    #   - .env
    models:
      - llm
    ports:
      - "8000:80"

models:
  llm:
    model: ai/qwen3-vl:8B
    runtime_flags:
      - "--jinja" # To use tools with Jinja templates



# ----------------------------------
# build and run
# ----------------------------------
# docker-compose -f docker-compose.dev.yml up
# docker push {repository}/fastapi-agent:1